.myprojects {
    padding-top: 12vh;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 40px;
}
.project-list {
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    a {
        position: relative;
        text-decoration: none;
    }
}
.todo-list {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 3;
    position: relative;
    margin: 0px auto;
    height: 22vw;
    width: 22vw;
    background-color: white;
    border-radius: 2.5px;
    color: black;
    text-align: center;
    line-height: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 20px;
    &:hover {
        cursor: pointer;
    }

    h1 {
        z-index: 4;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        text-align: center;
        width: 100%;
    }

    .background-color {
        border-radius: 2.5px;
        position: absolute;
        background-color: red;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        z-index: 5;
    }
    &:hover .background-color {
        height: 0;
        transition: 0.3s;
        z-index: 10;
    }
}
.todo-container {
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addbutton {
    text-align: center;
}
ul {
    padding-left: 0;
}

input {
    background-color: transparent;
    border: none;
    outline-width: 0;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    float: left;
    font-family: monospace;
    width: 88%;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    color: rgb(95, 94, 97);
    padding: 0 0 0 0;
    &::placeholder {
        color: lightgrey;
    }
}

#projects {
    margin-top: 140px;
    &::after {
        content: "";
        display: block;
    }
}

// RESPONSIVE !

@media only screen and (max-width: 960px) {
    #projects {
        margin-top: 35px;
    }
    .project-list {
        flex-direction: column;
    }
    .todo-list {
        height: 45vw;
        width: 75vw;
        background-color: red;
        box-shadow: 0 3px 3px rgba(0,0,0,0.13), 0 3px 15px rgba(0,0,0,0.23);
        h1 {
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            color: white;
        }
        .background-color {
            border-radius: 2.5px;
            position: absolute;
            background-color: transparent;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            z-index: 5;
        }
    }
    .myprojects {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
        padding-top: 12vh;
    }
}