.todo-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addbutton {
    text-align: center;
}
ul {
    padding-left: 0;
}

input {
    background-color: transparent;
    border: none;
    outline-width: 0;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #CCC;
    float: left;
    font-family: monospace;
    width: 88%;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    color: rgb(95, 94, 97);
    padding: 0 0 0 0;
    &::placeholder {
      color: lightgrey;
    }
  }