.app {
  position: relative;
  transition: 0.4 ease;
  overflow: hidden;
}

main {
  min-height: 80vh;
  padding: 25px;
  position: relative;
  top: 30px;
  margin-bottom: 40px;
}

.search-box {
  -webkit-box-shadow: 15px 24px 86px -46px rgba(0,0,0,0.52);
  -moz-box-shadow: 15px 24px 86px -46px rgba(0,0,0,0.52);
  box-shadow: 15px 24px 86px -46px rgba(0,0,0,0.52);
  background-color: white;
  position: relative;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  padding-top: 13px;
  margin-left: auto;
  margin-right: auto;
  img {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 12px;
    padding-top: 2px;
    &:hover {
      cursor: pointer;
    }
  }
}

.search-box .search-bar {
  display: block;
  width: 90%;

  background: none;
  border: none;
  outline: none;


  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.location-box .location {
  display: block;
  color: black;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 15px;
  margin-top: 40px;
}

.location-box .date {
  color: black;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  font-family: monospace;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  margin: 30px auto;
  background-color:red;
  border-radius: 7px;
  width: 26%;
  padding: 20px;

  color: whitesmoke;
  font-size: 500%;
  font-weight: 900;
  text-align: center;
}

.weather-box .weather {
  color: black;
  font-size: 48px;
  font-weight: 700;
}


@media only screen and (max-width: 960px) {
  .search-box {
    width: 95%;
  }
  .weather-box .temp {
    position: relative;
    right: 7px;
    margin: 30px auto;
    background-color:red;
    border-radius: 7px;
    width: 90%;
  
    color: whitesmoke;
    font-size: 90px;
    font-weight: 900;
    text-align: center;
  }
}