.About {
    h1 {
        font-family: monospace;
        font-size: 20px;
    }
    h2 {
        font-family: "Times New Roman", Times, serif;
        font-size: 60px;
        margin: 0;
    }
    h3 {
        font-family: "Times New Roman", Times, serif;
        font-size: 30px;
        width: 46%;
        margin: 0;
        text-transform: uppercase;
        margin-top: 10px;
    }
    div {
       p {
        width: 46%;
        font-family: monospace;
       }
    }
    .contact-me {
        margin-top: 13px;
        border: black 3px solid;
        display: inline-block;
        line-height: 30px;
        border-radius: 2px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        &:hover {
            cursor: pointer;
            background-color: black;
        }
        &:hover a {
            color: white;
        }
        a {
            padding: 10px;
            text-decoration: none;
            color: black;
        }
    }
}

// Mobile Styles
@media only screen and (max-width: 960px) {
    .About {
        text-align: center;
        margin-top: 10vh;
        h1 {
            margin-bottom: 30px;
            font-size: 15px;
        }
        h2 {
            font-size: 40px;
        }
        h3 {
            width: 100%;
            margin: 30px auto;
            font-size: 18px;
        }
        div {
            p {
             margin: auto;
             width: 46%;
            }
         }
         .contact-me {
             margin-top: 30px;
         }
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .About {
        text-align: left;
        margin-top: 15vh;
        margin-left: 3vw;
    }
}
