.About {
    h1 {
        font-family: monospace;
        font-size: 20px;
        margin-bottom: 10px;
    }
    h2 {
        font-family: "Times New Roman", Times, serif;
        font-size: 60px;
        margin: 0;
    }

    .line {
        height: 3px;
        width: 47%;
        background-color: black;
        margin-top: 15px;
    }
    div {
        p {
            width: 46%;
            font-family: monospace;
        }
    }
    .contact-me {
        margin-top: 13px;
        border: black 3px solid;
        display: inline-block;
        line-height: 30px;
        border-radius: 2px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        &:hover {
            cursor: pointer;
            background-color: black;
        }
        &:hover a {
            color: white;
        }
        a {
            padding: 10px;
            text-decoration: none;
            color: black;
        }
    }

    img {
        width: 20vw;
        height: 18vw;
        position: absolute;
        right: 17vw;
        top: 26vh;
        z-index: -1;
    }
}

// Mobile Styles
@media only screen and (max-width: 960px) {
    .About {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 10vh;
        h1 {
            font-size: 15px;
        }
        h2 {
            font-size: 40px;
        }
        .line {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            width: 60vw;
        }
        div {
            p {
                margin: auto;
                width: 100%;
            }
        }
        .contact-me {
            font-size: 15px;
            margin-top: 30px;
            width: 35%;
            line-height: 50px;
        }
        img {
            width: 200px;
            height: 176px;
            display: block;
            position: static;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
        }
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .About {
        text-align: left;
        margin-top: 15vh;
        margin-left: 3vw;
    }
}
