.Todoapp {
    h1 {
        font-family: Impacto, Impact, sans-serif;
    }
   margin-top: 15vh;
   display: flex;
   .container {
       min-height: 70vh;
   }
   ul {
       text-align: center;
       margin-top: 70px;

       li {
           font-weight: bold;
           font-family: monospace;
           &:hover button {
               background-color: white;
           }
           &:hover {
               border-color: red;
                cursor: pointer;
                background-color: white;

           }
           border: 2px solid;
           border-radius: 3px;
           width: 50%;
           overflow: auto;
           margin: 5px auto;
           padding: 10px;
           list-style: none;
           background-color: whitesmoke;
       }
   }
}

span {
    color: red;
}

button {
    background-color: whitesmoke;
    &:hover {
        cursor: pointer;
        color: red;
        font-weight: bold;
    }
    border-radius: 2px;
    border: none;
    margin: 0;
    padding: 0;

    /* inherit font & color from ancestor */
    color: black;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    padding: 3px;
    margin-top: 7px;
}

.userinput {
    display: flex;
    justify-content: center;
}

.textinput {
    width: 30%;
}
.addbutton {
    font-weight: bold;
    width: 40px;
    padding-top: 9px;
    margin-left: 10px;
    color: white;
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
    }
}


@media only screen and (max-width: 960px) {
    .tak {
        color: red;
        font-weight: bold;
    }
    .Todoapp {
        ul {
            li {
                width: 70%;
            }
        }
    }

    .userinput {
      flex-direction: column;
    }
    .textinput {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .addbutton {
        width: 8%;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        font-weight: bolder;
    }
}

.done h1 {
  font-family: monospace;
}
