.sidebarIn {
    background-color: black;
    width: 60vw;
    height: 100vh;
    position: fixed;
    right: -60vw;
    z-index: 7;
    transition: 0.4s;
    transform: translateX(60vw);
    display: flex;
    justify-content: center;
    ul {
        padding: 0;
        display: flex;
        height: 30%;
        flex-direction: column;
        justify-content: space-around;
    }
    li {
        text-align: center;
        list-style-type: none;
        height: 30px;
        a {
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            font-size: 1.3em;
            color: whitesmoke;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                font-size: 1.4em;
            }
        }
    }
}
.sidebarOut {
    ul {
        padding: 0;
        display: flex;
        height: 30%;
        flex-direction: column;
        justify-content: space-around;
    }
    li {
        text-align: center;
        list-style-type: none;
        height: 30px;
        a {
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            font-size: 1.8em;
            color: whitesmoke;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                font-size: 1.85em;
            }
        }
    }
    display: flex;
    justify-content: center;
    background-color: black;
    width: 60vw;
    height: 100vh;
    position: fixed;
    right: -60vw;
    z-index: 7;
    transition: 0.4s;
    transform: translateX(-60vw);
}

@media only screen and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
}
