.skill-container {
    width: 100%;
    margin: 200px auto;
    border-radius: 5px;
    padding-top: 30px;
    ul li {
        display: inline-block;
        width: 25%;
        padding: 0.75rem 0;
        text-decoration: none;
        color: rgb(70, 48, 48);
        text-align: center;
        font-family: monospace;
        font-size: 20px;
        font-weight: bold;
        &:hover {
            cursor: pointer;
            color: red;
        }
        &:target {
            color: red;
        }
    }

    ul, div {
        width: 75%;
        margin: 50px auto;
        position: relative;
    }
    h1 {
        width: 100%;
        margin: 10px auto;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
        color: red
    }
    h2 {
        text-align: center;
        width: 75%;
        margin: 10px auto;
        font-family:  monospace;
        font-size: 20px;
    }


    .long {
        background: lightgrey;
        position: relative;
        bottom: 11px;
        height: 0.1rem;
        border: none;
        z-index: -1;
    }
}


.one {
    height: 0.25rem;
    width: 25%;
    margin: 0;
    background: red;
    border: none;
    transition: 0.3s ease;
    border-radius: 2px;
    margin-left: 0;

}
.two {
    height: 0.25rem;
    width: 25%;
    margin: 0;
    background: red;
    border: none;
    transition: 0.3s ease;
    border-radius: 2px;
    margin-left: 25%;

}

.three {
    height: 0.25rem;
    width: 25%;
    margin: 0;
    background: red;
    border: none;
    transition: 0.3s ease;
    border-radius: 2px;
    margin-left: 50%;
}
.four {
    height: 0.25rem;
    width: 25%;
    margin: 0;
    background: red;
    border: none;
    transition: 0.3s ease;
    border-radius: 2px;
    margin-left: 75%;
}

@media only screen and (max-width: 960px) {
    .skill-container {
        width: 100%; 

        ul {
            width: 100%;
            li{
                font-size: 10.5px;
            }
   
        }
        div {
            width: 90%;
            position: relative;
            bottom: 40px;
            h1 {
                margin-top: 0px;
                font-size: 50px;
            }
            h3 {
                margin-bottom: 0;
                font-size: 15px;
                margin-bottom: 10px;
                margin-top: 80px;
            }
        }
    }
}