.tiktaktoe {
    position: relative;
    height: 100vh;
    width: 75vw;
    h1 {
        text-align: center;
        font-size: 50px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
    .restart {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin: 20px auto;
        width: 120px;
        display: block;
        border: 3px solid red;
        font-family: monospace;
        line-height: 30px;
        &:hover {
            background: white;
            cursor: pointer;
        }
    }
    .board {
        height: 300px;
        width: 300px;
        margin: 10px auto;     
        display: flex;
        flex-wrap: wrap;
        position: relative;
        button {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            width: 100px;
            height: 100px;
            background: red;
            border: 1px whitesmoke solid;
            color: whitesmoke;
            font-size: 60px;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            &:hover {
                cursor: pointer;
            }
        }
        .winner {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: red;
            color: white;
            text-align: center;
            font-size: 40px;
            align-items: center;
            display: flex;
            justify-content: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

@media only screen and (max-width: 960px) {
    .tiktaktoe {
        position: relative;
        height: 100vh;
        width: 100vw;
        h1 {
            text-align: center;
            font-size: 50px;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        }
        .restart {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            margin: 20px auto;
            width: 120px;
            display: block;
            border: 3px solid red;
            font-family: monospace;
            line-height: 30px;
            &:hover {
                background: white;
                cursor: pointer;
            }
        }
        .board {
            height: 300px;
            width: 300px;
            margin: 40px auto;     
            display: flex;
            flex-wrap: wrap;
            button {
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                width: 100px;
                height: 100px;
                background: red;
                border: 1px whitesmoke solid;
                color: whitesmoke;
                font-size: 60px;
                font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

