body { 
    background: whitesmoke;
}
#about {
    height: 100vh;

}
#projects {
    height: 100vh;

}

#education {
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}
.container { 
    width: 75%;
    margin: 0 auto;
}

// Mobile Styles
@media only screen and (max-width: 960px) {
    .container{
        width: 100%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .container{
        width: 75%;
    }
}