
$base-color: green;

body {
    background: whitesmoke;
    margin-bottom: 10px;
    .back {
        background: rgb(209, 209, 209);
        height: 300vh;
        width: 100vw;
        transform: rotate(45deg);
        position: fixed;
        left: -80%;
        top: 0;
        z-index: -1;
    }
}

#app {
    min-height: 100%;
}

#experience {
    height: 70vh;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 75%;
    margin: 0 auto;
    overflow: auto;
}


// Mobile Styles
@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .container {
        width: 75%;
    }
}

.designed {
    position: relative;
    font-family: monospace;
    font-size: 13px;
    color: rgb(0, 1, 0);
    width: 15%;
    margin: 2px auto;
    text-align: center;
}

@media only screen and (max-width: 960px) {
 
    .designed {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .demo {
        .main-title {
            font-size: 3em;
        }
    }
}


.form {
    position: relative;
    height: 40px;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    .testinput {
     width: 100%;
     height: 100%;
     text-align: left;
     font-size: 20px;
     padding-top: 10px;
     border: 0;
     padding-left: 2px;
          &:focus + .testlabel .testspan {
            bottom: 21px;
            color: red;
        }
        &:focus + .testlabel::after {
            width: 100%;
            transition: all 0.5s ease;
        }
        &:valid + .testlabel .testspan {
            bottom: 21px;
            color: red;
        }
        &:valid + .testlabel::after {
            width: 100%;
            transition: all 0.5s ease;
        }
    }

    .testlabel {
        width: 100%;
        position: absolute;
        left: 2px;
        bottom: -4px;
        border-bottom: 2px black solid;
        pointer-events: none;
        transition: all 0.5s ease;
        &::after{
            content: '';
            height: 3px;
            background: red;
            width: 0;
            display: block;
            position: relative;
            top: 2.2px;
            transition: all 0.5s ease;
            
        }
   
        .testspan {
         position: absolute;
         bottom: 3.5px;
         transition: 0.5s;
         font-size: 13px;
        }
    }
}
