body { 
    background: whitesmoke;
}


#app {
    min-height: 100%;
}

#education {
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}
.container { 
    width: 75%;
    margin: 0 auto;
    overflow: auto;
    
}

// Mobile Styles
@media only screen and (max-width: 960px) {
    .container{
        width: 100%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .container{
        width: 75%;
    }
}

.designed {
    position: relative;
    font-family: monospace;
    font-size: 13px;
    color: rgb(0, 1, 0);
    width: 15%;
    margin: 27px auto;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .designed {
        width: 80%;
    }
}