
.body {
    background: whitesmoke;
}

#app {
    min-height: 100%;
}

#experience {
    height: 100vh;
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 75%;
    margin: 0 auto;
    overflow: auto;
}

.skilllist {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    li {
        width: 40px;
        text-align: center;
    }
}

// Mobile Styles
@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .container {
        width: 75%;
    }
}

.designed {
    position: relative;
    font-family: monospace;
    font-size: 13px;
    color: rgb(0, 1, 0);
    width: 15%;
    margin: 27px auto;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .email, .social {
        display: none;
    }
    .designed {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .demo {
        .main-title {
            font-size: 3em;
        }
    }
}
